{% extends 'base.html.twig' %}

{% block title %}Pied Piper{% endblock %}

{% block body %}
    <div class="welcome_image">
        <a href="./products">
            Products
        </a>
    </div>
    <div class="company_info">
        <h2>Who is Pied Piper</h2>
        Pied Piper (PP) is an American tech company based in Silicon Valley, California.
        The company was formed in 2014 by Richard Hendricks as a company to develop middle out compression.
        The company is best known to for achieving the highest Weissman score in history during their presentation at TechCrunch Disrupt.
    </div>
{% endblock %}

